<!DOCTYPE html>
<html>
    <head>
        <script src="https://vuejs.org/js/vue.js"></script>
    </head>
    <body>
        <div id="App">
            <tps-source
            v-for="(source, key) in Sources"
            v-bind="source"
            v-bind:mode="mode"
            ></tps-source>
            <button v-on:click="Sources.push(SourceDefaults())">Add Source</button>
        </div>
    </body>
    <script>
        var MixinEditor = {
            props:{
                mode:{
                    type:String,
                    default:"view",
                    validator: function (value)
                    {
                        return ['create', 'edit', 'view'].indexOf(value) !== -1;
                    }
                }
            },
            computed:{
                ModeEdit:function(){return this.mode != "view";},
                ModeCreate:function(){return this.mode == "create";},
                ModeView:function(){return this.mode == "view";}
            }
        };
    </script>
    <script>
        Vue.component("tps-source", {
            mixins:[MixinEditor],
            props:{
                name:{type:String, default:"New Source"},
                source:{type:String, default:"(file origin)"},
                loading_function:{type:String, default:"JSON"},
                constraint:{type:Array},
                schemas:{type:Array}
            },
            methods:{},
            computed:{
                Edited: function()
                {
                    return {
                        name:this.name,
                        source:this.source,
                        loading_function:this.loading_function,
                        constraint:this.constraint,
                        schemas:this.schemas,
                    }
                }
            },
            template:"#tps-source"
        });
    </script>
    <script id="tps-source" type="text/x-template">
        <div>
            <h2>Source</h2>
            <div v-if="ModeView">
                {{name}}<br>
                {{source}}<br>
                {{loading_function}}<br>
                <button v-on:click="ModeEdit = true">Edit</button>
            </div>
            <div v-else>
                <input type="text" v-model="Edited.name"/>
                <input type="text" v-model="Edited.source"/>
                <input type="text" v-model="Edited.loading_function"/>
                <div v-if="ModeCreate">
                    <button v-on:click="$emit('create', Edited)">Add</button>
                </div>
                <div v-else="ModeEdit">
                    <button v-on:click="$emit('update', Edited)">Save</button>
                    <button v-on:click="$emit('delete', Edited)">Delete</button>
                </div>
            </div>
        </div>
    </script>



    <script>
        Vue.component("tps-constraint", {
            props:{
                accessor:{type:String, default:"{}"}
            },
            template:"tps-constraint"
        })
    </script>
    <script id="tps-constraint" type="text/x-template">
        <div>{{accessor}}</div>
    </script>
    
    <!-- application -->
    <script>

        var App = new Vue({
            el:"#App",
            data:{
                mode:"view",
                Sources:
                [{
                    name:"dcard",
                    source:"client_file",
                    loading_function:"csv",
                    constraint:["{Trans. Date}","{Post Date}","{Description}"],
                    schemas:
                    [{
                        name:"mapped",
                        columns:
                        [{
                            name:"Trans. Date",
                            path:"{Trans.Date}",
                            type:"date"
                        }]
                    }]
                }],
                Default:
                {
                    name:"New Source",
                    source:"(add file origin)",
                    loading_function:"csv",
                    constraint:["{}"],
                    schemas:[
                        {
                            name:"New Schema",
                            columns:[
                                {
                                    name:"New Column",
                                    path:"{}",
                                    type:"text"
                                }
                            ]
                        }
                    ]
                }
            },
            methods:{
            }
        });
    </script>
</html>